* {
	margin: 2;
	padding: 2;
	box-sizing: border-box;
}
body {
	background-color: rgb(11, 6, 14);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(255, 255, 255);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color: rgb(10, 1, 10);
	padding-left: 10px;
    text-shadow: 4px 3px 3px rgb(214, 10, 255)

}
.right {
	position: initial;
	background-color: rgb(29, 2, 25);
	padding: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 3px 3px rgb(214, 10, 255)

}

.Contact, .Skills, .Language, .Hobbies {
    padding-top: 25px;
}

.Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 3px 3px rgb(214, 10, 255)
}

.skola {
    padding-right: 100;
}

.image {
    height: 160px;
    width: 212px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgb(214, 10, 255);
    margin-left: 80px;
    margin-top: 15px;
}

.Educationtxt {
    color: rgb(255, 255, 255);
    text-shadow: 4px 3px 3px rgb(214, 10, 255)
}

.h2 {
	background-color: rgb(255, 255, 255);
}

.utbildning_link, .erfarenhet_link, .projekt_link {
	color: rgb(255, 255, 255);
    text-shadow: 4px 3px 3px rgb(214, 10, 255)
}
